<div>
  <div class="container">
    <div class="content">
      <form class="form" *ngIf="formModel" [formGroup]="formModel" novalidate>
        <h1 class="form__title form__title_signup">Зарегистрируйтесь и слушайте бесплатно</h1>

        <div class="form-group">
          <input id="name-input" class="form-control form__input" type="text" placeholder="Имя"
                 formControlName="username">
          <div class="form__error_text"
               *ngIf="formModel.controls['username'].invalid && formModel.controls['username'].touched">
            Обязательное поле, не короче 2 символов
          </div>
        </div>

        <div class="form-group">
          <input id="email-input" class="form-control form__input" type="email" placeholder="Email"
                 formControlName="email">
          <div class="form__error_text"
               *ngIf="formModel.controls['email'].invalid && formModel.controls['email'].touched">
            Обязательное поле, не короче 2 символов
          </div>
        </div>

        <div class="form-group">
          <input id="password-select" class="form-control form__input" type="password" placeholder="Пароль"
                 formControlName="password">
          <div class="form__error_text"
               *ngIf="formModel.controls['password'].invalid && formModel.controls['password'].touched">
            Обязательное поле
          </div>
        </div>

        <div class="block-buttons">
          <button type="button" class="form__button"
                  routerLink="/home"
                  [disabled]="formModel.invalid"
                  (click)="onSave()"
          >Зарегистрироваться
          </button>
          <!--          <button type="button" class="btn"-->
          <!--                  routerLink="/"-->
          <!--          >Закрыть-->
          <!--          </button>-->
          <p class="form__subtitle">Уже есть аккаунт? <a routerLink='/auth/login'>Войти</a></p>
        </div>
      </form>
    </div>
  </div>
</div>

