<div>
  <div class="container">
    <div class="content">
      <form class="form"
            *ngIf="formModel && !isLogin"
            [formGroup]="formModel"
            #f="ngForm"
            novalidate>
        <h1 class="form__title">Чтобы продолжить, войдите.</h1>

        <div class="form-group">
          <input id="name-input" class="form-control form__input" type="text" placeholder="Имя"
                 formControlName="username">
          <div class="form__error_text"
               *ngIf="formModel.controls['username'].invalid && formModel.controls['username'].touched">
            Введите имя
          </div>
        </div>

        <div class="form-group">
          <input id="password-select" class="form-control form__input" type="password" placeholder="Пароль"
                 formControlName="password">
          <div class="form__error_text"
               *ngIf="formModel.controls['password'].invalid && formModel.controls['password'].touched">
            Введите пароль
          </div>
        </div>

        <div class="block-buttons">
          <button type="button" class="form__button form__button_login"
                  [disabled]="formModel.invalid"
                  (click)="onSubmit()"
                  routerLink="/home"
          >Войти
          </button>
          <!--          <button type="button" class="form__button form__button_login"-->
          <!--                  routerLink="/"-->
          <!--          >Отмена-->
          <!--          </button>-->
          <h5 class="form__subtitle">Нет аккаунта?</h5>
          <button class="form__button" type="button"
                  routerLink="/auth/register"
          >РЕГИСТРАЦИЯ
          </button>
        </div>
        <div class="form-group">
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="f.submitted && !isLogin"
          >
            Login failed: {{ errorMessage }}
          </div>
        </div>
      </form>

      <div class="alert alert-success" *ngIf="isLogin">
        Logged in as {{ roles }}.
      </div>
    </div>
  </div>
</div>


