<div class="welcome">

  <div class="auth">
    <button
      class="auth__button"
      [routerLink]="['/auth/register']">
      Регистрация
    </button>
    <button
      class="auth__button"
      [routerLink]="['/auth/login']">
      Войти
    </button>
  </div>

  <main class="welcome__main">
    <p class="welcome__text">
      Загружайте музыку, составляйте плейлисты и слушайте плейлисты других
      пользователей!
    </p>

  </main>
  <footer class="welcome__footer">
    <p>spring-app 2022</p>
  </footer>
</div>


