<div class="layout">
  <nav class="sidebar">
    <div class="logo" [routerLink]=homeUrl>
      MuzLite
    </div>
    <div class="sidebar-item" [routerLink]=songPageUrl>Песни</div>
    <div class="sidebar-item" [routerLink]=artistPageUrl>Артисты</div>
    <div class="sidebar-item" [routerLink]=playlistPageUrl>Плейлисты</div>
    <div class="sidebar-item" [routerLink]=genrePageUrl>Жанры</div>
    <div *ngIf="showAdminBoard">
      Admin Board
    </div>
  </nav>

  <header class="header">
    <div class="header__container">
      <!--      <div class="header__outlet">-->
      <!--        <router-outlet name="header-outlet"></router-outlet>-->
      <!--      </div>-->
      <div class="auth">
        <div class="auth__profile" routerLink="profile">{{ username }}</div>
        <button
          class="auth__button"
          (click)="logout()"
          [routerLink]="['/']">
          Выйти
        </button>
      </div>
    </div>
  </header>

  <div class="main-page">
    <router-outlet></router-outlet>
  </div>

  <footer class="footer">
    <p>spring-app 2022</p>
  </footer>
</div>
