:host {
  display: block;
  height: 100%;
}

.layout {
  flex: 1;
  height: 100%;
  //background: linear-gradient(rgba(0, 0, 0, .6), rgb(18, 18, 18) 100%);
  background-color: (var(--main-bg-color));
  min-height: 863px;
  display: grid;
  position: relative;
  grid-template-areas: "sidebar header"
                       "sidebar content";
  grid-template-columns: 246px 1fr;
  grid-template-rows: 60px 1fr;

  .header {
    grid-area: header;
    align-content: center;
    background-color: var(--main-bg-color);

    &__container {
      display: flex;
      padding: 15px 20px;

      .auth {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        padding: 5px 10px;

        &__profile {
          color: var(--text-color);
          padding: 3px 0;

          &:hover {
            cursor: pointer;
          }
        }

        &__button {
          font-size: 16px;
          padding: 3px 15px;
          border: none;
          color: var(--text-color);
          background-color: var(--logo-color);
          border-radius: 15px;
          margin-left: 20px;

          &:hover {
            transform: scale(1.06);
          }
        }
      }
    }
  }

  .sidebar {
    grid-area: sidebar;
    background-color: var(--sidebar-bg-color);
    color: var(--sidebar-text-color);

    .logo {
      color: var(--logo-color);
      height: 60px;
      padding-left: 20px;
      padding-top: 20px;
      font-weight: bold;
      font-size: 24px;

      &:hover {
        cursor: pointer;
      }
    }

    &-item {
      padding: 20px;
      font-size: 16px;
      margin: 10px;
      font-weight: 600;

      &:hover {
        background-color: var(--sidebar-hover-color);
        cursor: pointer;
      }
    }
  }

  .main-page {
    grid-area: content;
    margin-left: 20px;
    overflow-y: auto;
  }
}
