:host {
  display: block;
  height: 100%;
}

.layout {
  flex: 1;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, .6), rgb(18, 18, 18) 100%);
  min-height: 863px;
  display: grid;
  position: relative;
  grid-template-areas: "sidebar header"
                       "sidebar content";
  grid-template-columns: 241px 1fr;
  grid-template-rows: 60px 1fr;

  .header {
    grid-area: header;
    align-content: center;
    background-color: #121212FF;

    &__container {
      display: flex;
      padding: 15px 20px;

      .auth {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        padding: 5px 10px;

        &__profile {
          color: #FFFFFF;
        }

        &__button {
          font-size: 16px;
          border: none;
          //background-color: rgba(29, 185, 84, 0.62);
          background: none;
          border-radius: 5px;
          color: #fff;
          margin-left: 20px;

          &:hover {
            transform: scale(1.06);
          }
        }
      }
    }
  }

  .sidebar {
    grid-area: sidebar;
    background-color: #000000FF;
    color: #FFFFFFFF;

    .logo {
      color: #056c05;
      height: 40px;
      padding-left: 20px;
      padding-top: 20px;
      font-weight: bold;
      font-size: 20px;

      &:hover {
        cursor: pointer;
      }
    }

    &-item {
      padding: 20px;

      &:hover {
        background-color: #1A1A1AFF;
        cursor: pointer;
      }
    }
  }

  .main-page {
    grid-area: content;
    margin-left: 20px;
    overflow-y: auto;
  }
}
