:root {
  --main-bg-color: #fffeff;
  --main-text-color: #000000;
  --text-color: #191414FF;
  --sidebar-bg-color: #673ab7;
  --sidebar-text-color: #eeeeee;
  --sidebar-hover-color: #774dc2;
  --logo-color: #fff;
  --artist-card-bg-color: #f4f2ec3d;
  --artist-card-hover-color: rgb(244 242 230 / 30%);
  --auth-btn-bg-color: #ffd740;
  --auth-btn-hover-color: #fad65b;
  --auth-btn-disable-color: #d2bc67;
  --edit-icon-color: #5f83a1;
  --delete-icon-color: #be4343;
  --role-name-color: #646464FF;
  --welcome-page-bg-color: #784bc6c4;
}
