<div *ngIf="isLoading; else info">
  <mat-spinner></mat-spinner>
</div>
<ng-template #info>
  <div class="info">
    <div class="info__header">
      <div class="info__cover">
        <img
             class="info__cover-img"
             [src]=playlist?.cover
             alt="Изображение артиста"/>
      </div>
      <div class="info__desc">
        <h1 class="desc__category">Жанр</h1>
        <div class="desc__name">{{playlist?.playlistName}}</div>
      </div>
    </div>
    <div class="info__main">
      <h2 class="main__title">Песни</h2>
      <div class="song" *ngFor="let song of songs; index as i;">
        <img class="song__img" *ngIf="song.cover; else img_def" [src]=song.cover alt="cover"/>
        <ng-template #img_def>
          <img class="song__img" [src]=defaultImg alt="cover"/>
        </ng-template>
        <div class="song__audio">
          <div class="song__audio__name">{{song.songName}}</div>
          <div class="song__audio__artist">{{song.artistName}}</div>
          <audio controls preload="none" class="song__audio__controls">
            <source [src]="song.source">
          </audio>
        </div>
      </div>
    </div>
  </div>
</ng-template>
