<div class="container">
  <form class="form"
        [formGroup]="formGroup"
        novalidate>
    <h1 class="form__title" *ngIf="artistId; else create">Редактирование исполнителя</h1>
    <ng-template #create>
      <h1 class="form__title">Создание исполнителя</h1>
    </ng-template>

    <div class="form-group mb-3">
      <input id="name-input" class="form-control form__input" type="text" placeholder="Имя"
             formControlName="artistName">
      <div class="form__error_text"
           *ngIf="formGroup.controls['artistName'].invalid && formGroup.controls['artistName'].touched">
        Введите имя
      </div>
    </div>

    <div class="form-group mb-3">
      <input id="photo-select" class="form-control form__input" type="text" placeholder="Url фото"
             formControlName="photo">
      <div class="form__error_text"
           *ngIf="formGroup.controls['photo'].invalid">
        Ошибка
      </div>
    </div>
    <div (click)="invalidateForm()">
      <button mat-raised-button color="primary"
              [disabled]="formGroup.invalid"
              (click)="onSubmit()">
        Сохранить
      </button>
      <button mat-button (click)="onCancel()">Отмена</button>
    </div>
  </form>
</div>
