:host {
  display: block;
}

.main-page-content {
  padding: 24px 16px 0;
  @media (min-width: 1024px) {
    padding: 0 32px;
  }

  .collections {
    padding-bottom: 24px;
    margin-bottom: 16px;
    min-height: 300px;
    min-width: 100%;

    &__title {
      display: flex;
      padding-bottom: 16px;
      justify-content: space-between;
      font-weight: 700;
      align-items: flex-end;
      color: #FFFFFFFF;

      &__name {
        padding-bottom: 5px;
        font-size: 24px;
        letter-spacing: -.04em;
        line-height: 28px;
        font-weight: 700;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &__container {
      display: flex;
      justify-content: space-between;
    }

    .song {
      flex-direction: column;
    }

    &__playlists {
      display: inline-flex;
      flex-direction: column;
      column-gap: 24px;
      margin-bottom: 10px;

      .artist {
        min-width: 180px;
        width: 270px;
        max-width: 270px;
        height: 350px;
        border-radius: 3px;
        position: relative;
        cursor: pointer;
        //background-color: #282828FF;
        transition: .25s background-color ease-in-out;
        padding: 17px;
        z-index: 0;

        &__img {
          width: 250px;
          height: 250px;
          display: block;
          border-radius: 50%;
          object-fit: cover;
          box-shadow: 2px 2px 11px -3px rgba(0, 0, 0, 0.65);
          transition: .2s box-shadow ease-in-out;
          margin-bottom: 16px;
        }

        &__name {
          color: #FFFFFF;
          font-weight: 700;
          font-size: 1rem;
          line-height: 1.5rem;
          letter-spacing: normal;
          text-transform: uppercase;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          padding-bottom: 4px;
        }


        &__role {
          //color: $white;
          color: rgb(167, 167, 167);
          font-weight: 700;
          font-size: 14px;
          text-transform: none;
          letter-spacing: normal;
          background-color: #323232FF;
          display: inline-block;
          padding: 0 15px;
          border-radius: 18px;
          margin-left: -5px;
        }

        &:hover {
          background-color: #282828FF;
        }

        &:hover &__img {
          box-shadow: 2px 3px 24px -3px rgba(0, 0, 0, 0.82);
        }
      }

    }
  }
}

