.layout {
  flex: 1;
  background: linear-gradient( rgba(0,0,0,.6),rgb(18, 18, 18) 100%);
  min-height: 863px;
  display: grid;
  position: relative;
  grid-template-areas: "sidebar header"
                       "sidebar content"
                       "sidebar footer";
  grid-template-columns: 241px 1fr;
  grid-template-rows: 60px 1fr 60px;
  height: 100%;

  .header {
    grid-area: header;
    align-content: center;
    background-color: #121212FF;

    &__container {
      display: flex;
      padding: 15px 20px;

      .auth {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        &__button {
          padding: 8px 34px;
          border: none;
          //background-color: rgba(29, 185, 84, 0.62);
          background: none;
          border-radius: 5px;
          color: #fff;
          margin-left: 20px;
          font-size: 16px;
          &:hover {
            transform: scale(1.06);
          }
        }
      }
    }
  }

  .sidebar {
    grid-area: sidebar;
    background-color: #000000FF;
    color: #FFFFFFFF;

    .logo {
      color: #056c05;
      height: 40px;
      padding-left: 20px;
      padding-top: 20px;
      font-weight: bold;
      font-size: 20px;
    }

    &-item {
      padding: 20px;

      &:hover {
        background-color: #1A1A1AFF;
        cursor: pointer;
      }
    }
  }

  .main-page {
    grid-area: content;
  }

  .footer {
    grid-area: footer;
    width: 100%;
    background: rgb(18, 18, 18);
    p {
      padding: 12px 20px 12px 0;
      color: #056c05;
      text-align: end;
    }
  }
}

