<div class="collections">
      <div>Песни</div>
      <ng-container *ngIf="isLoading">
        <div *ngFor="let song of songsList; index as i;">
          <div>{{song.songName}}</div>
          <audio controls>
            <source [src]="song.source">
          </audio>
        </div>
      </ng-container>
    </div>
<div class="collections">
      <div>Артисты</div>
      <ng-container *ngIf="isLoading">
        <div *ngFor="let artist of artistsList; index as i;">
          <div>{{artist.artistName}}</div>
        </div>
      </ng-container>
    </div>
<div class="collections">
      <div>Плейлисты</div>
      <ng-container *ngIf="isLoading">
        <div *ngFor="let playlist of playlistsList; index as i;">
          <div>{{playlist.playlistName}}</div>
        </div>
      </ng-container>
    </div>
