<div *ngIf="isLoading; else info">
  <mat-spinner></mat-spinner>
</div>
<ng-template #info>
  <div class="info">
    <div class="info__header">
      <div class="info__cover">
        <img
          class="info__cover-img"
          [src]=artist?.photo
          alt="Изображение артиста"/>
      </div>
      <div class="info__desc">
        <h2 class="desc__category">Исполнитель</h2>
        <div class="desc__name">{{artist?.artistName}}</div>
        <div class="desc__text">{{songs?.length}}, {{albums?.length}}</div>
      </div>
    </div>
    <div class="info__main">
      <h2 class="main__title">Альбомы</h2>
      <div class="main__slider">
        <div *ngFor="let album of albums">
          <div>
            {{album}}
          </div>
        </div>
      </div>
      <h2 class="main__title">Песни</h2>
      <div class="main__songs" *ngFor="let song of songs; index as i">
        <audio controls>
          <source [src]="song.source">
        </audio>
      </div>
    </div>
  </div>
</ng-template>
