.collections {
  &__title {
    display: flex;
    padding-bottom: 16px;
    justify-content: space-between;
    font-weight: 700;
    margin: 20px 16px;
    align-items: flex-end;
    color: #191414FF;

    &__name {
      padding-bottom: 5px;
      font-size: 24px;
      letter-spacing: -0.04em;
      line-height: 28px;
      font-weight: 700;
    }
  }
}
