<div class="container">
  <form class="form"
        [formGroup]="formGroup"
        novalidate>
    <h1 class="form__title">Создание песни</h1>

    <div class="form-group mb-3">
      <input id="name-input" class="form-control form__input" type="text" placeholder="Название песни"
             formControlName="songName">
      <div class="form__error_text invalid-feedback"
           *ngIf="formGroup.controls['songName'].invalid && formGroup.controls['songName'].touched">
        Введите название
      </div>
    </div>

    <div class="form-group mb-3">
      <input id="cover-select" class="form-control form__input" type="text" placeholder="Обложка"
             formControlName="cover">
      <div class="form__error_text invalid-feedback"
           *ngIf="formGroup.controls['cover'].invalid && formGroup.controls['cover'].touched">
        Ошибка
      </div>
    </div>

    <div class="form-group mb-3">
      <input id="source-select" class="form-control form__input" type="text" placeholder="Источник"
             formControlName="source">
      <div class="form__error_text invalid-feedback"
           *ngIf="formGroup.controls['source'].invalid && formGroup.controls['source'].touched">
        Ошибка
      </div>
    </div>

    <div class="form-group mb-3">
      <label for="artist-select" class="form-label">Исполнитель</label>
      <select id="artist-select" class="form-control form-select"
              formControlName="artistId">
        <option *ngFor="let artist of artistsList" [value]="artist.id">{{artist.artistName}}</option>
      </select>
      <div class="form__error_text invalid-feedback"
           *ngIf="formGroup.controls['artistId'].invalid && formGroup.controls['artistId'].touched">
        Ошибка
      </div>
    </div>

    <div class="form-group mb-3">
      <label for="genre-select" class="form-label">Жанр</label>
      <select id="genre-select" class="form-control form-select"
              formControlName="genreId">
        <option *ngFor="let genre of genresList" [value]="genre.id">{{genre.genreName}}</option>
      </select>
      <div class="form__error_text invalid-feedback"
           *ngIf="formGroup.controls['genreId'].invalid && formGroup.controls['genreId'].touched">
        Ошибка
      </div>
    </div>
    <div>
      <button mat-raised-button color="primary"
              [disabled]="formGroup.invalid"
              (click)="onSubmit()">
        Сохранить
      </button>
      <button mat-button (click)="onCancel()">Отмена</button>
    </div>
  </form>
</div>

