<div class="collections">
  <div class="collections__title">
    <h2 class="collections__title__name">Исполнители</h2>
  </div>

  <ng-container *ngIf="isLoading">
    <div class="collections__artists" *ngFor="let artist of artistsList; index as i;">
      <div class="artist">
        <img *ngIf="artist.photo; else defaultUrl"
             [src]=[artist.photo]
             alt="" class="artist__img"/>
        <ng-template #defaultUrl>
          <img [src]=defaultArtistPhoto
               alt="" class="artist__img"/>
        </ng-template>
        <h1 class="artist__name">{{artist.artistName}}</h1>
        <h4 class="artist__role">исполнитель</h4>
      </div>
    </div>
  </ng-container>

</div>
